<mat-toolbar class="header">
    <button mat-icon-button
            routerLink="/">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <span class="header-title">{{tale.name}}</span>
</mat-toolbar>

<div class="name-row">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput
               placeholder="Nombre"
               [(ngModel)]="tale.name"
               #name>
    </mat-form-field>
    <button mat-icon-button
            (click)="saveTale()">
        @if (!taleSaved()) {
        <mat-icon>save</mat-icon>
        }
        @else {
        <mat-icon>done</mat-icon>
        }
    </button>
</div>

<mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="Páginas">
        <div class="tab-content">
            @if (tale.pages.length === 0) {
            <div class="no-data">Todavía no hay ninguna página en este cuento. ¡Añade la primera!</div>
            }
        </div>
    </mat-tab>
    <mat-tab label="Personajes">
        @if (tale.characters.length === 0) {
        <div class="no-data">Todavía no hay ningún personaje en este cuento. ¡Añade el primero!</div>
        }
        @else {
        <div class="character-list">
            @for (character of tale.characters; track character.id) {
            <div class="character">
                @if (character.hasImage) {
                <img [src]="character.characterImage"
                     [alt]="character.name">
                }
                <div class="character-name"
                     [ngStyle]="{'background-color': character.colorHash+'66'}">
                    {{character.name}}
                </div>
            </div>
            }
        </div>
        }
    </mat-tab>
</mat-tab-group>

<button mat-fab
        color="primary"
        class="fab-button"
        (click)="add()">
    <mat-icon>add</mat-icon>
</button>

<app-page-detail #pageDetail />
<app-character-detail (characterSaveEvent)="characterSaved($event)"
                      #characterDetail />