<mat-toolbar color="primary">
    <button mat-icon-button
            routerLink="/">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <span class="header-title">{{tale.name}}</span>
</mat-toolbar>

<div class="name-row">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput
               placeholder="Nombre"
               [(ngModel)]="tale.name"
               #name>
    </mat-form-field>
    <button mat-icon-button
            (click)="saveTale()">
        <mat-icon *ngIf="!taleSaved">save</mat-icon>
        <mat-icon *ngIf="taleSaved">done</mat-icon>
    </button>
</div>

<mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="Páginas">
        <div class="tab-content">
            <div class="no-data"
                 *ngIf="tale.pages.length === 0">Todavía no hay ninguna página en este cuento. ¡Añade la primera!</div>
        </div>
    </mat-tab>
    <mat-tab label="Personajes">
        <div class="no-data"
             *ngIf="tale.characters.length === 0">Todavía no hay ningún personaje en este cuento. ¡Añade el primero!</div>
        <div class="character-list"
             *ngIf="tale.characters.length > 0">
            <div class="character"
                 *ngFor="let character of tale.characters">
                <img *ngIf="character.hasImage"
                     [src]="character.characterImage">
                <div class="character-name"
                     [ngStyle]="{'background-color': character.colorHash+'66'}">
                    {{character.name}}
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<button mat-fab
        color="primary"
        class="fab-button"
        (click)="add()">
    <mat-icon>add</mat-icon>
</button>

<app-page-detail #pageDetail></app-page-detail>
<app-character-detail (characterSaveEvent)="characterSaved($event)"
                      #characterDetail></app-character-detail>