<mat-toolbar>
    <span class="header-title">Ipuinak</span>
    <button mat-icon-button
            (click)="changeEdit()">
        @if (!edit()) {
        <mat-icon>settings</mat-icon>
        }
        @else {
        <mat-icon>close</mat-icon>
        }
    </button>
</mat-toolbar>

@for (tale of tales$ | async; track tale.id) {
<mat-card class="tale">
    <mat-card-header>
        <mat-card-title>{{tale.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row"
             [class]="{'row-end': tale.lastBookmark === null}">
            @if (tale.lastBookmark) {
            <button mat-flat-button
                    color="primary">
                <mat-icon>bookmark_border</mat-icon>
                Continuar
                <span class="bookmark-date">({{tale.lastBookmark.createdAt}})</span>
            </button>
            }
            @if (!edit()) {
            <button mat-fab
                    color="primary"
                    [routerLink]="['/tale', tale.id]">
                <mat-icon>navigate_next</mat-icon>
            </button>
            }
            @else {
            <button mat-fab
                    color="primary"
                    [routerLink]="['/edit', tale.id]">
                <mat-icon>edit</mat-icon>
            </button>
            }
        </div>
    </mat-card-content>
</mat-card>
}

@if (edit()) {
<button mat-fab
        color="primary"
        class="fab-button"
        routerLink="/new">
    <mat-icon>add</mat-icon>
</button>
}