<div class="modal-bg"
     [ngClass]="{'show': show()}">
    <mat-card class="modal-box">
        <mat-card-header>
            <mat-card-title>
                <div class="modal-title">
                    <span>Página {{page.id !== null ? page.pageOrder : 'nueva'}}</span>
                    <button mat-icon-button
                            (click)="close()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="General">
                    <div class="image"
                         [ngStyle]="{'background-color': page.bgColorHash}">
                        <button mat-flat-button
                                color="primary"
                                (click)="addImage()">
                            <mat-icon>add_a_photo</mat-icon>
                            Cambiar imagen
                        </button>
                        <input type="file"
                               name="image-file"
                               id="image-file"
                               accept="image/png, image/gif, image/jpeg"
                               (change)="onImageChange($event)">
                        @if (page.hasImage) {
                        <img [src]="image"
                             alt="Imagen">
                        }
                    </div>
                    <div class="general-controls">
                        <mat-form-field>
                            <mat-label>Color</mat-label>
                            <input matInput
                                   placeholder="Color de fondo"
                                   type="color"
                                   [(ngModel)]="page.bgColor">
                            <span matTextPrefix>
                                <mat-icon>palette</mat-icon>
                            </span>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Animación entrada</mat-label>
                            <mat-select [ngModel]="page.animationIn">
                                @for (option of animationOptionsIn; track option.id) {
                                <mat-option [value]="option.id">
                                    {{option.name}}
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Animación salida</mat-label>
                            <mat-select [ngModel]="page.animationOut">
                                @for (option of animationOptionsOut; track option.id) {
                                <mat-option [value]="option.id">
                                    {{option.name}}
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <div class="form-field">
                            <mat-slide-toggle [(ngModel)]="page.preloadImage">Precarga</mat-slide-toggle>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Diálogos">
                    <div class="dialog-list">
                        @for (dialog of page.dialogs; track dialog.id) {
                        <div class="dialog-row">
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Personaje</mat-label>
                                <mat-select [ngModel]="dialog.idCharacter">
                                    <mat-option [value]="null">Narrador</mat-option>
                                    @for (option of tale.characters; track option.id) {
                                    <mat-option [value]="option.id">
                                        {{option.name}}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic"
                                            class="dialog-text">
                                <mat-label>Texto</mat-label>
                                <input matInput
                                       placeholder="Texto"
                                       [(ngModel)]="dialog.content">
                            </mat-form-field>
                            <button mat-icon-button
                                    (click)="deleteDialog(dialog)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        }
                        <div class="dialog-options">
                            <button mat-flat-button
                                    color="primary"
                                    (click)="addDialog()">
                                <mat-icon>add</mat-icon>
                                Nuevo diálogo
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Siguiente página"> Content 3 </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions [ngClass]="{'actions-between': page.id !== null, 'actions-end': page.id === null}">
            @if (page.id) {
            <button mat-flat-button
                    color="warn">
                <mat-icon>delete_forever</mat-icon>
                Borrar página
            </button>
            }
            <button mat-flat-button
                    color="primary">
                <mat-icon>save</mat-icon>
                Guardar página
            </button>
        </mat-card-actions>
    </mat-card>
</div>