:root {
    --color-white: #fff;
    --color-blue: #3f51b5;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
    background-color: var(--color-blue) !important;
    color: var(--color-white) !important;
}

.mat-mdc-card-header-text {
    width: 100%;
}

.header-title {
    flex: 1;
}

.fab-button {
    position: absolute !important;
    bottom: 16px;
    right: 16px;
    z-index: 10;
}

.name-row {
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.tab-content {
    padding: 16px;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex;
    }

    .modal-box {
        width: 90%;

        .modal-title {
            display: flex;
            height: 48px;
            align-items: center;

            span {
                flex: 1;
            }
        }

        .actions-between {
            justify-content: space-between;
        }

        .actions-end {
            justify-content: flex-end;
        }
    }
}

@media screen and (min-width: 900px) {
    .modal-bg {
        .modal-box {
            width: 60%;
        }
    }
}

.form-field {
    display: inline-block;
    padding: 16px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    height: 56px;
    box-sizing: border-box;
}